.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.off-canvas-sidebar .wrapper-full-page~.fixed-plugin .dropdown .dropdown-menu
{
  -webkit-transform:none;
  transform: none;
}

.fixed-plugin .button-container .github-button
{
  display:inline
}


.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
.fileupload {
    margin-bottom: 9px;
}
.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
}
.fileupload .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}
.fileupload .thumbnail > img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
.fileupload-new .input-group .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}
.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}

